.scores {
    display: block;
    float: left;
    width: 100%;
}

.player {
    display: block;
    padding: 14px;
}

.tic{
  width: 200px;
  float: left;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-left: 12px;
  margin-bottom: 7px;
  
}